@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
h1{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.navegacion{
    display: flex;
}

/*animacion imagenes carrusel*/
.imagen{
	-webkit-animation: kenburns-bottom-right 5s ease-out both;
	animation: kenburns-bottom-right 5s ease-out both;
}
@-webkit-keyframes kenburns-bottom-right {
    0% {
    -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
        transform-origin: 84% 84%;
    }
    100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
        transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }
}
@keyframes kenburns-bottom-right {
    0% {
    -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
        transform-origin: 84% 84%;
    }
    100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
        transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }
}
/*espacio dedicado a contenido*/
.contenido{
    display: flex;
    background-color: #e0e0e0;
    padding: 20px;
}
.imagencontenido{
    grid-area: imagencontenido;
}
.Mision{
    grid-area: mision;
}

@media (min-width:500px){
    .grillacontenido{
        display: grid;
        grid-template-areas: 
        "imagencontenido"
        "mision";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillacontenido{
        display: grid;
        grid-template-areas: 
        "mision imagencontenido";
        grid-template-columns: 1fr 1fr;
    }
}
.imagencontenido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titmision{
    display: flex;
    justify-content: center;
}
.contmision{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-top: 30px;
}
/*espacio dedicado a video*/
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #c2c2c2;
}

/*espacio dedicado a footer*/
footer{
    background-color: #aab7b8;
}
.redes{
    list-style-type: none;
    padding: 0px;        
    font-size: small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    
}
.logos{
    padding: 25px;        
    font-size: small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

/*zona dedicada a form*/
.form{
    background-color: #aab7b8;
}
.form2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    margin: 346px;
}

/*zona dedicada a seccion socio*/

.form3{
    padding-top: 10px;
    background-color: #e0e0e0;
}
.imagenmotivacion{
    grid-area: imagenmotivacion;
}
.misionmotivacion{
    grid-area: misionmotivacion;
}
@media (min-width:500px){
    .grillasocio{
        display: grid;
        grid-template-areas: 
        "imagenmotivacion"
        "misionmotivacion";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillasocio{
        display: grid;
        grid-template-areas: 
        "imagenmotivacion misionmotivacion";
        grid-template-columns: 1fr 1fr;
    }
}
.grillasocio{
    padding: 20px;
}
.titumotivacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textomotivacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.imagenmotivacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.misionmotivacion{
    padding: 70px;
}

/*zona dedicada a quienes somos*/
.nosotros{
    background-color: #e0e0e0;
}
.sobrenosotros{
    grid-area: sobrenosotros;
}
.quienessomos{
    grid-area: quienessomos;
}
.titnosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.textonosotros{
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
}
@media (min-width:500px){
    .grillanosotros{
        display: grid;
        grid-template-areas: 
        "sobrenosotros"
        "quienessomos";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillanosotros{
        display: grid;
        grid-template-areas: 
        "sobrenosotros quienessomos";
        grid-template-columns: 1fr 1fr;
    }
}

/*zona destinada a contactos*/
.ubicacion{
    grid-area: ubicacion;
}
.indicaciones{
    grid-area: indicaciones;
}
.contacto{
    background-color: white;
    padding: 20px;
}
.titulocontacto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicaciones{
    padding-top: 40px;
}

.contactos{
    padding: 50px;
}

@media (min-width:500px){
    .grillacontacto{
        display: grid;
        grid-template-areas: 
        "ubicacion"
        "indicaciones";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillacontacto{
        display: grid;
        grid-template-areas: 
        "indicaciones ubicacion";
        grid-template-columns: 1fr 1fr;
    }
}