@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200&family=Roboto:wght@300&display=swap");
.formulario {
  width: 20px;
  padding-left: 70px; }

.nombres {
  border: none; }

.correos {
  border: none; }

.suscribete {
  background-color: #2d43d5;
  padding-left: 5px;
  padding-right: 5px; }

.suscripcion {
  padding-left: 70px;
  font-size: 30px; }

/*grids de contenidos*/
.imagencontenido {
  grid-area: imagencontenido; }

.Mision {
  grid-area: mision; }

/*zona dedicada a video*/
.Videoinge {
  grid-area: videoinge; }

/*Grids de suscripcion*/
.nombres {
  grid-area: nombres; }

.correos {
  grid-area: correos; }

/*Zona de grids quienes somos*/
.sobrenosotros {
  grid-area: sobrenosotros; }

.quienessomos {
  grid-area: quienessomos; }

/*zona destinada a contactos*/
.ubicacion {
  grid-area: ubicacion; }

.indicaciones {
  grid-area: indicaciones; }

/*zona destinada a video de proyectos*/
.videooo {
  grid-area: videooo; }

.proyecto1 {
  grid-area: proyecto1; }

.videoooo {
  grid-area: videoooo; }

.proyecto2 {
  grid-area: proyecto2; }

/*zona destinada a footer*/
.redes {
  grid-area: redes; }

.newsletter {
  grid-area: newsletter; }

/*zona destinada a motivacion*/
.imagenmotivacion {
  grid-area: imagenmotivacion; }

.misionmotivacion {
  grid-area: misionmotivacion; }

@media (min-width: 500px) {
  .grillacontenido {
    display: grid;
    grid-template-areas: "imagencontenido" "mision";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillacontenido {
    display: grid;
    grid-template-areas: "mision imagencontenido";
    grid-template-columns: 1fr 1fr; } }

/*zona destinada a footer*/
@media (min-width: 500px) {
  .grillafooter {
    display: grid;
    grid-template-areas: "newsletter" "redes";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillafooter {
    display: grid;
    grid-template-areas: "redes newsletter";
    grid-template-columns: 1fr 1fr; } }

/*Tamaños de quienes somos*/
@media (min-width: 500px) {
  .grillanosotros {
    display: grid;
    grid-template-areas: "sobrenosotros" "quienessomos";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillanosotros {
    display: grid;
    grid-template-areas: "sobrenosotros quienessomos";
    grid-template-columns: 1fr 1fr; } }

/*Tamaños de contacto*/
@media (min-width: 500px) {
  .grillacontacto {
    display: grid;
    grid-template-areas: "ubicacion" "indicaciones";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillacontacto {
    display: grid;
    grid-template-areas: "indicaciones ubicacion";
    grid-template-columns: 1fr 1fr; } }

/*Tamaño destinado a video proyeectos*/
@media (min-width: 500px) {
  .grillaproyecto1 {
    display: grid;
    grid-template-areas: "videooo" "proyecto1";
    grid-template-columns: 1fr; }
  .grillaproyecto2 {
    display: grid;
    grid-template-areas: "videoooo" "proyecto2";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillaproyecto1 {
    display: grid;
    grid-template-areas: "proyecto1 videooo";
    grid-template-columns: 3fr 2fr; }
  .grillaproyecto2 {
    display: grid;
    grid-template-areas: "videoooo proyecto2";
    grid-template-columns: 1fr 1fr; } }

/*zona de socio y motivacion*/
@media (min-width: 500px) {
  .grillasocio {
    display: grid;
    grid-template-areas: "videooo" "proyecto1";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillasocio {
    display: grid;
    grid-template-areas: "imagenmotivacion misionmotivacion";
    grid-template-columns: 1fr 1fr; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%; }

.titulo {
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
  font-size: 40px; }

.contenido {
  display: flex;
  background-color: #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px; }
  .contenido .imagencontenido {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 40px; */ }
  .contenido .Mision {
    padding: 20px; }
  .contenido .titmision {
    display: flex;
    justify-content: center; }
  .contenido .contmision {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-top: 30px; }

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #c2c2c2; }

/*zona destinada a footer*/
footer {
  background-color: #aab7b8; }
  footer .redes {
    list-style-type: none;
    margin-top: 20px;
    font-size: small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    footer .redes .logos {
      padding: 15px;
      display: flex;
      justify-content: space-around;
      /*flex-direction: row;*/ }
    footer .redes .prelogos {
      display: flex; }
      footer .redes .prelogos .nombrenfooter {
        padding-top: 20px;
        padding-left: 15px; }

.newsletter {
  padding: 40px; }
  .newsletter .suscripcion {
    display: flex;
    justify-content: center; }
  .newsletter .formulario {
    display: flex;
    align-items: center; }

hr {
  color: #2deff2; }

.enlaces {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  font-size: 10px; }

/*Zona dedicada a quienes somos*/
.nosotros {
  background-color: #e0e0e0; }
  .nosotros .titnosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px; }

.nosotros .textonosotros {
  display: flex;
  text-align: justify;
  justify-content: center;
  font-size: 30px;
  padding: 10px; }

/*zona dedicada a contacto*/
.contacto {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px; }
  .contacto .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contacto .indicaciones {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contacto .indicaciones .titulocontacto {
      display: flex;
      justify-content: center;
      align-items: center; }
    .contacto .indicaciones .contactos {
      padding: 50px; }

/*zona para video de proyectos*/
.Proyecto1 {
  background-color: #c2c2c2;
  padding-top: 20px;
  padding-bottom: 20px; }
  .Proyecto1 .videooo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .Proyecto1 .proyecto1 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; }
    .Proyecto1 .proyecto1 .titproyecto1 {
      display: flex;
      justify-content: center; }
    .Proyecto1 .proyecto1 .contproyecto1 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-top: 30px; }

.Proyecto2 {
  padding-top: 20px;
  padding-bottom: 20px; }
  .Proyecto2 .imagenec {
    display: flex;
    align-items: center;
    justify-content: center; }
  .Proyecto2 .proyecto2 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; }
    .Proyecto2 .proyecto2 .titproyecto2 {
      display: flex;
      justify-content: center; }
    .Proyecto2 .proyecto2 .contproyecto2 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-top: 30px; }

/*zona dedicada a socio*/
.form3 {
  background-color: #c2c2c2; }

.motivacion {
  padding: 20px;
  background-color: #e0e0e0; }
  .motivacion .imagenmotivacion {
    display: flex;
    align-items: center;
    justify-content: center; }
  .motivacion .misionmotivacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .motivacion .misionmotivacion .textomotivacion {
      text-align: justify; }

/*zona dedicada a contacto*/
.paracontacto {
  width: 80%;
  padding-left: 40px; }

.mmm {
  display: block;
  position: relative; }

.hrcontacto {
  color: #e0e0e0; }

.contac1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e0e0e0;
  border: solid;
  border-radius: 20px; }

.contac2 {
  padding-left: 40px; }

@media (min-width: 500px) {
  .grillacontenido {
    display: grid;
    grid-template-areas: "imagencontenido" "mision";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillacontenido {
    display: grid;
    grid-template-areas: "mision imagencontenido";
    grid-template-columns: 1fr 1fr; } }

/*zona destinada a footer*/
@media (min-width: 500px) {
  .grillafooter {
    display: grid;
    grid-template-areas: "newsletter" "redes";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillafooter {
    display: grid;
    grid-template-areas: "redes newsletter";
    grid-template-columns: 1fr 1fr; } }

/*Tamaños de quienes somos*/
@media (min-width: 500px) {
  .grillanosotros {
    display: grid;
    grid-template-areas: "sobrenosotros" "quienessomos";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillanosotros {
    display: grid;
    grid-template-areas: "sobrenosotros quienessomos";
    grid-template-columns: 1fr 1fr; } }

/*Tamaños de contacto*/
@media (min-width: 500px) {
  .grillacontacto {
    display: grid;
    grid-template-areas: "ubicacion" "indicaciones";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillacontacto {
    display: grid;
    grid-template-areas: "indicaciones ubicacion";
    grid-template-columns: 1fr 1fr; } }

/*Tamaño destinado a video proyeectos*/
@media (min-width: 500px) {
  .grillaproyecto1 {
    display: grid;
    grid-template-areas: "videooo" "proyecto1";
    grid-template-columns: 1fr; }
  .grillaproyecto2 {
    display: grid;
    grid-template-areas: "videoooo" "proyecto2";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillaproyecto1 {
    display: grid;
    grid-template-areas: "proyecto1 videooo";
    grid-template-columns: 3fr 2fr; }
  .grillaproyecto2 {
    display: grid;
    grid-template-areas: "videoooo proyecto2";
    grid-template-columns: 1fr 1fr; } }

/*zona de socio y motivacion*/
@media (min-width: 500px) {
  .grillasocio {
    display: grid;
    grid-template-areas: "videooo" "proyecto1";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .grillasocio {
    display: grid;
    grid-template-areas: "imagenmotivacion misionmotivacion";
    grid-template-columns: 1fr 1fr; } }
