/*grids de contenidos*/
.imagencontenido{
    grid-area: imagencontenido;
}
.Mision{
    grid-area: mision;
}
/*zona dedicada a video*/
.Videoinge{
    grid-area: videoinge;
}
/*Grids de suscripcion*/

.nombres{
    grid-area: nombres;
}
.correos{
    grid-area: correos;
}

/*Zona de grids quienes somos*/
.sobrenosotros{
    grid-area: sobrenosotros;
}
.quienessomos{
    grid-area: quienessomos;
}

/*zona destinada a contactos*/
.ubicacion{
    grid-area: ubicacion;
}
.indicaciones{
    grid-area: indicaciones;
}

/*zona destinada a video de proyectos*/
.videooo{
    grid-area: videooo;
}
.proyecto1{
    grid-area: proyecto1;
}
.videoooo{
    grid-area: videoooo;
}
.proyecto2{
    grid-area: proyecto2;
}
/*zona destinada a footer*/
.redes{
    grid-area: redes;
}
.newsletter{
    grid-area: newsletter;
}
/*zona destinada a motivacion*/
.imagenmotivacion{
    grid-area: imagenmotivacion;
}
.misionmotivacion{
    grid-area: misionmotivacion;
}