
 

@media (min-width:500px){
    .grillacontenido{
        display: grid;
        grid-template-areas: 
        "imagencontenido"
        "mision";
        grid-template-columns: 1fr;
    }
    
}
@media (min-width:768px){
    .grillacontenido{
        display: grid;
        grid-template-areas: 
        "mision imagencontenido";
        grid-template-columns: 1fr 1fr;
    }
    
}
/*zona destinada a footer*/
@media (min-width:500px){
    .grillafooter{
        display: grid;
        grid-template-areas: 
        "newsletter"
        "redes";
        grid-template-columns: 1fr;
    }
    
}
@media (min-width:768px){
    .grillafooter{
        display: grid;
        grid-template-areas: 
        "redes newsletter";
        grid-template-columns: 1fr 1fr;
    }
    
}
/*Tamaños de quienes somos*/
@media (min-width:500px){
    .grillanosotros{
        display: grid;
        grid-template-areas: 
        "sobrenosotros"
        "quienessomos";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillanosotros{
        display: grid;
        grid-template-areas: 
        "sobrenosotros quienessomos";
        grid-template-columns: 1fr 1fr;
    }
}

/*Tamaños de contacto*/
@media (min-width:500px){
    .grillacontacto{
        display: grid;
        grid-template-areas: 
        "ubicacion"
        "indicaciones";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillacontacto{
        display: grid;
        grid-template-areas: 
        "indicaciones ubicacion";
        grid-template-columns: 1fr 1fr;
    }
}
/*Tamaño destinado a video proyeectos*/
@media (min-width:500px){
    .grillaproyecto1{
        display: grid;
        grid-template-areas: 
        "videooo"
        "proyecto1";
        grid-template-columns: 1fr;
    }
    .grillaproyecto2{
        display: grid;
        grid-template-areas: 
        "videoooo"
        "proyecto2";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillaproyecto1{
        display: grid;
        grid-template-areas: 
        "proyecto1 videooo";
        grid-template-columns: 3fr 2fr;
    }
    .grillaproyecto2{
        display: grid;
        grid-template-areas: 
        "videoooo proyecto2";
        grid-template-columns: 1fr 1fr;
    }
}

/*zona de socio y motivacion*/
@media (min-width:500px){
    .grillasocio{
        display: grid;
        grid-template-areas: 
        "videooo"
        "proyecto1";
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px){
    .grillasocio{
        display: grid;
        grid-template-areas: 
        "imagenmotivacion misionmotivacion";
        grid-template-columns: 1fr 1fr;
    }
}