$paravideo: #c2c2c2;
$parafooter: #aab7b8;

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200&family=Roboto:wght@300&display=swap');

$font-family: 'Athiti', sans-serif;
$font-family: 'Athiti', sans-serif;

.formulario{
    width: 20px;
    padding-left: 70px;
}
.nombres{
    border: none;
}
.correos{
    border: none;
}
.suscribete{
    background-color: rgb(45, 67, 213);
    padding-left: 5px;
    padding-right: 5px;
}
.suscripcion{
    padding-left: 70px;
    font-size: 30px;
}
